{% extends 'base.html' %}

{% block title %}แดชบอร์ดสรุปผล{% endblock %}

{% block content %}
    <h1>แดชบอร์ดสรุปผลการวิเคราะห์</h1>
    <p>ข้อมูลสรุปจากกลุ่มตัวอย่างนักศึกษา (สามารถกดที่กราฟเพื่อกรองข้อมูลได้)</p>

    <iframe title="FInalBIProject" width="1000" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiZGZmYTRhNTQtMDk0ZC00ODhmLTk0MjUtZGQ3ZTM4OWEyNjVlIiwidCI6ImZkMjA2NzE1LTc1MDktNGFlNS05Yjk2LTc2YmI5Nzg4NmE4NCIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>

{% endblock %}